streamlit==1.32.0
langchain==0.1.20
langchain-community==0.0.38
langchain-chroma==0.1.1
chromadb==0.4.24
faiss-cpu==1.7.4
sentence-transformers==2.7.0
gitpython==3.1.43
groq==0.5.0
langchain-groq==0.1.3
